body{margin:0;padding:0;background:#ffe;font-size:14px;}
a {color:#000;font-size:14px;}
#main{width:100%;}
#wrap{position:relative;margin:0 auto;width:1100px;height:680px;margin-top:10px;}

#code{display:none;font-size:16px;}
#clock-box {position:absolute;left:60px;bottom:20px;font-size:28px;display:none;}
#clock-box a {font-size:28px;text-decoration:none;}
#clock{margin-left:48px;}
#clock .digit {font-size:64px;}
#canvas{margin:0 auto;width:1100px;height:680px;}
#error{margin:0 auto;text-align:center;margin-top:60px;display:none;}
.hand{cursor:pointer;}
p.last{text-align: right;}

.fake{
	position: absolute;
	width: 1px;
}

#text{
	width: 80%;
	height: 800px;
	left:50%;
	top:50%;
	position:fixed;
	transform:translate(-50%,30%);
	border: 1px solid red;
	font-size: 50px;
	color: blue;
}

.continue{
	color: blue;
	cursor: pointer;
}


.loveText{
	text-align: center;
	position: absolute;
	color: darkgrey;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: 12s linear loveText;
	opacity: 0.7;
}


@keyframes loveText{
	0%{
		opacity: 0
	}
	30%{
		opacity: 0
	}
	100%{
		opacity: 0.7;
	}
}